<br><br><br>
<div *ngIf="showMain">
    <div class="row">
        <div class="col-12  col-md-12" *ngIf="formError" class="alert alert-danger" role="alert">
            {{ formError }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <h4>消費項目查詢</h4>
        </div>
        <div class="col-xs-6 col-md-6 text-right"><button class="btn btn-primary" (click)="goQuery()" *ngIf="hasSelected">回查詢</button></div>
    </div>
    <form (ngSubmit)="onSubmit()" #queryForm="ngForm" *ngIf="!hasSelected">
        <div class="input-group fMargin">
            <div class="input-group-prepend">
                <span class="input-group-text">買年：</span>
            </div>
            <select class="col-12 col-md-8 form-control ctrlColor" id="cyear" required [(ngModel)]="model.cyear" name="cyear">
                <option *ngFor="let yr of viewModel.years" [value]="yr">{{yr}}</option>
              </select>
        </div>
        <div class="input-group fMargin">
            <div class="input-group-prepend">
                <span class="input-group-text">買月：</span>
            </div>
            <select class="col-12 col-md-8 form-control ctrlColor" id="cmonth" required [(ngModel)]="model.cmonth" name="cmonth">
                <option *ngFor="let mon of viewModel.months" [value]="mon">{{mon}}</option>
              </select>
        </div>


        <!-- <div class="row fMargin">
            <label for="power" class="col-12 col-md-2">成員：</label>
            <select class="col-12 col-md-8 form-control ctrlColor" id="user" required [(ngModel)]="model.user" name="user">
              <option *ngFor="let user of viewModel.users" [value]="user">{{user}}</option>
            </select>
        </div> -->
        <div class="row fMargin">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">查細目</button>
                <button type="button" class="btn btn-primary" (click)="monthTotal()" style="margin-left: 100px;">月結算</button>
            </div>
        </div>
    </form>

    <div class="row  fMargin" *ngIf="summary.monthSum > 0">
        <div class="col-12 form-control fontColor">{{summaryText.title}}</div>
        <div class="col-12 form-control fontColor">{{summaryText.martinText}}</div>
        <div class="col-12 form-control fontColor">{{summaryText.katyText}}</div>
        <div class="col-12 form-control fontColor">{{summaryText.monthText}}</div>
        <div class="col-12 form-control fontColor">{{summaryText.budget}}</div>
        <div class="col-12 form-control fontColor">{{summaryText.remainderText}}</div>

    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar" *ngIf="hasSelected">
        <table class="table table-striped table-primary " *ngIf="martinList">
            <thead>
                <tr>
                    <th>名稱</th>
                    <th class="text-right">價格</th>
                    <th class="text-right">日期</th>
                </tr>
                <tr>
                    <td>丁瑜小計</td>
                    <td class="text-right textRed">{{sum(martinList,'price')}}</td>
                    <td class="text-right"></td>
                </tr>
            </thead>
            <tbody *ngFor="let row of martinList">
                <tr (click)="onClickEvent($event, row)">
                    <td>{{row.itemName}}</td>
                    <td class="text-right">{{row.price}}</td>
                    <td class="text-right">{{strFormat(row)}}</td>
                </tr>
            </tbody>

        </table>
        <table class="table table-striped table-primary" *ngIf="katyList">
            <thead>
                <tr>
                    <th>名稱</th>
                    <th class="text-right">價格</th>
                    <th class="text-right">日期</th>
                </tr>
                <tr>
                    <td>紋萍小計</td>
                    <td class="text-right textRed">{{sum(katyList,'price')}}</td>
                    <td class="text-right"></td>
                </tr>
            </thead>
            <tbody *ngFor="let row of katyList">
                <tr (click)="onClickEvent($event, row)">
                    <td>{{row.itemName}}</td>
                    <td class="text-right">{{row.price}}</td>
                    <td class="text-right">{{strFormat(row)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="menu" id="contextMenu">
    <ul class="menu-options">
        <li class="menu-option" (click)="onItemEvent('edit')">修改</li>
        <li class="menu-option" (click)="onItemEvent('delete')">刪除</li>
    </ul>
</div>

<div *ngIf="!showMain">
    <app-edit-item [newConsume]="theSelected" (editResult)="getEditResult($event)"></app-edit-item>
</div>